/*Mobile*/
@media (max-width: 740px) {

    #content{
        width: 80%;
    }
    #nav{
        display: none;
    }
    .he-logo{
        display: none;
    }
    .header-list-social{
        display: block;
    }

    .nav-bar-btn{
        display: block;
    }
    #nav-mobile .sub_nav{
        position: initial;
        background-color: #565e64;
        margin-top: 100px;

    }
    #nav-mobile .sub_nav:first-child{
        padding-top: 100px;
    }
    #nav-mobile li:hover a{
        color: white;
    }
    #nav-mobile li a{
        padding: 1px 24px
    }
    .text-description p{
        text-align: left;
    }
    #nav-mobile .sub_nav a{
        padding: 5px 48px;

    }
    .col-third{
        width: 100%;
        margin-top: 30px;
    }
    .section-heading{
        font-size: 20px;
    }
    .slider-on__mobile{

        display: block;
        padding: 0 30px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-top: -58px;
    }
    .title__mobile{
        margin-top: 92px;
        text-align: center;
        color: white;
        font-weight: 500;
        font-size: 20px;
    }

    .slide-PC{
        display: none;
    }
    .product{
        display: none;
    }
    #contact .col-half{
        width: 100%;
    }
    #contact .col{
        padding-bottom: 10px;
    }
    #contact .col input:last-child{
        margin-top: -0.8px;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }

    .heading-search input{
        margin-left: -150px;
        padding: 2%;
        width: 150px;
        height: 30px;
        border-radius: 5px;

    }
    .section-heading{
        display: none;
    }
    .info{
        display: none;
    }
    .content-section-contact .section-heading{
        display: block;
    }

    #contact .text-description-contact p{
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .contact .col-half{
       width: 100%;


    }
    .contact .col{
        padding-bottom: 10px;
    }
    contact .col input:last-child{
        margin-top: -0.8px;
    }
    #footer p{
        padding: 20px;

    }
    .music-disc-list{
        display: none;
    }

}
/*tablet*/
@media (min-width: 740px) and (max-width: 1050px) {
    #content{
        width: 70%;
    }
    .nav-bar-btn{
        display: none;
    }
    #nav>li{
        display: inline-block;
    }
    #header{
        overflow: visible;
    }
    .he-logo{
        display: none;
    }
    .nav-bar-btn{
        display: block;
    }
    #nav{
        display: none;
    }
    .heading-search input{
        margin-left: -110px;
        padding: 2%;
        width: 150px;
        height: 30px;
        border-radius: 5px;

    }
    .header-list-social{
        display: block;
    }
    .list-btn-social i{
        font-size: 22px;
        padding: 15px;
    }
    .list-btn-social img{
        padding-left: 30px;
        width: 30px;
        height: 15px;

    }
    .music-disc-list{
        display: none;
    }
    #share .col-third{
        width: 50%;
    }
    #footer p{
        padding: 20px;

    }

}

/*PC*/
@media (min-width: 1051px) {
    #nav>li{
        display: inline-block;
    }
    #header{
        overflow: visible;
    }
    .nav-bar-btn{
        display: none;
    }
    .nav__mobile{
        display: none;
    }
    .list-btn-social i{
        font-size: 22px;
        padding: 15px;
    }

}
/*PC mini*/
@media (max-width: 1315px)  {
    html{margin: 0}
    .container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .container .col-half{
        width: 100%;
    }
    .container .music-disc-list{
        width: 100%;
    }

    .container .col-third{
        width: 100%;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }
    .container #contact .col-half{
        width: 100%;
    }
    .container #contact .col{
        padding-bottom: 10px;
    }
    .container #contact .col input:last-child{
        margin-top: -0.8px;
    }
    .container .s-mt-8{
        margin-top: 8px !important;
    }
    .list-btn-social i{
        font-size: 22px;
        padding: 15px;
    }
    .header-list-social{
        display: block;
    }

}